{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<section class="cart" id="wishlist-list" style="display: flex; justify-content: space-between;">

    <form action="#" style="flex: 1;">

        <div class="opc-sidebar" style="position:relative;">
            <h4>قائمة الرغبات</h4>

            <div class="opc-box">
                <!-- Table -->
                <div style="width: 100%; margin-top: 50px; overflow-x: auto;">
                    <table class="table table-wishlist" style="width: 90%; border-collapse: collapse; background-color: #fff; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
                        <thead>
                            <tr>
                                <th style="padding: 15px; text-align: center; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">
                                    <input type="checkbox" id="select-all">
                                </th>
                                <th style="padding: 15px; text-align: center; border-bottom: 1px solid #ddd; background-color: #f9f9f9;"></th>
                                <th style="padding: 15px; text-align: center; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">عنوان المنتج</th>
                                <th style="padding: 15px; text-align: center; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">سعر الوحدة</th>
                                <th style="padding: 15px; text-align: center; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">حالة المخزون</th>
                                <th style="padding: 15px; text-align: center; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">أضف</th>
                                <th style="padding: 15px; text-align: center; border-bottom: 1px solid #ddd; background-color: #f9f9f9;">إزالة</th>
                            </tr>
                        </thead>

                        <tbody id="cart-body">
                            {% for w in wishlist %}
                            
                                <tr style="text-align: center;">
                                    <td style="padding: 15px; border-bottom: 1px solid #ddd;align-content: center;">
                                        <input type="checkbox" class="product-checkbox" style="vertical-align: middle;">
                                    </td>
                        
                                    <td style="padding: 15px; align-items: center; justify-content: center; gap: 10px; align-content: center;">
                                        <img src="{{w.product.image.url}}" alt="" style="border-radius: 5px; max-width: 80px; max-height: 80px; object-fit: cover;">
                                    </td>
                        
                                    <td style="padding: 15px; border-bottom: 1px solid #ddd; text-align: center; align-content: center;">
                                        <a href="{% url 'core:product-detail' w.product.pid %}" style="text-decoration: none; color: var(--bs-black);">{{ w.product.title|truncatechars:30 }}</a>
                                    </td>
                        
                                    <td class="price current-product-price-{{w.product.id}}" data-title="Price" style="padding: 15px; border-bottom: 1px solid #ddd; align-content: center;">
                                        {{w.product.price}}
                                    </td>
                        
                                    <td style="padding: 15px; border-bottom: 1px solid #ddd;align-content: center;">
                                        <span style="padding: 10px;
                                                    background-color: #bee8be;
                                                    color: #28a745;
                                                    border-radius: 5px;
                                                    ">
                                        {% if w.product.in_stock %} In Stock {% else%} Out Of stock {% endif %} </span>
                                    </td>

                                    <td data-title="Cart" style="padding: 15px; border-bottom: 1px solid #ddd;align-content: center;">

                                        <input type="hidden" value="1" class="product-quantity-{{ w.product.id }}" id="product-quantity">
                                        <input type="hidden" value="{{ w.product.pid }}" class="product-pid-{{ w.product.id }}" >
                                        <input type="hidden" value="{{ w.product.id }}" class="product-id-{{ w.product.id }}" name="" id="">
                                        <input type="hidden" value="{{ w.product.image.url }}" class="product-image-{{ w.product.id }}" name="" id="">
                                        <input type="hidden" value="{{ w.product.title }}" class="product-title-new-{{ w.product.id }}" name="" id="">
                                        
                                        <button type="submit" class="btn add-to-cart-btn" id="add-to-cart-btn" data-index="{{ w.product.id }}" style="padding: 10px;
                                            background-color: #28a745;
                                            color: white;
                                            border-radius: 5px;
                                            border: none;">أضف إلى السلة
                                        </button>

                                    </td>
                        
                                    <td class="action delete-item" data-title="Remove" style="padding: 15px; border-bottom: 1px solid #ddd;align-content: center;">
                                        <button class="delete-wishlist-product" data-wishlist-product="{{ w.id }}" style="cursor: pointer; border:none; background:none;">
                                            <i class="fa-solid fa-trash" style="color: #7c7c7c;"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>
                                        <p>لا يوجد منتجات في قائمة الرغبات</p>
                                    </td>
                                </tr>    
                            {% endfor %}
                            <tr>
                                <td colspan="7" style="text-align: center;">
                                    <div class="" style=" width: 100%;">
                                        <!-- Continue Shopping Button aligned to the right -->
                                        <div class="btn-div" style="text-align: center;">
                                            <a href="{% url 'core:index' %}" class="btn" 
                                                style="width: 30%; padding: 10px; background-color: #28a745; color: white; border: none; border-radius: 5px; text-decoration: none; display: inline-block;">
                                                مواصلة التسوق<i style="margin-right: 10px;" class="fa-solid fa-arrow-left"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>

            </div>

        </div>

        
        
    </form>
</section>
{% endblock content %}